
/* Default html elements properties. */
* {
    padding: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
pre {
    /*overflow-x: scroll;*/
    white-space: pre-wrap;
}
small {
    color: grey;
}
button {
    cursor: pointer;
    background: rgba(0,0,0,0);
    border: 1px solid #888;
}

/* Default page structure. */
#header, #container, #footer {
    width: 100%;
}
#header, #footer {
    text-align: center;
}
#container {
    margin: 20px 0px 40px 0px;
}


/* Menu structure. */
#menu {
    width: 80%;
    padding: 0% 10%;
    text-align: left;
}
#menu ul {
    display:inline-block;
}

#menu ul li {
    display: inline;
    padding: 5px 10px;
    background-color: aliceblue;
}

#menu ul li:hover {
    background-color: aqua;
    cursor:pointer;
}


/* Custom page structure. */

#exercise_statement {
    width: 80%;
    padding: 0% 10%;
    border-bottom: 1px solid;
}
#exercises_list, #sources_list {
    width: 50%;
    float: left;
    padding: 0% 2% 0% 1%;;
    box-sizing: border-box;
}
#exercises_list {
    border-right: 1px solid black;
}
#sources_list {
    border-left: 1px solid black;
}


/* Default class properties. */
.hidden {
    display: none;
}
.clearfix {
    clear: both;
}




/* Default widgets properties. */
.tree-button {
    position: absolute;
    top: -2px;
    left: -16px;
    border-radius: 20px;
    width: 16px;
    height: 16px;
}
.tree {
    position: relative;
    margin-left: 10px;
}
.tree.hidden {
    display: block;
}
.tree.hidden ul, .tree.hidden li {
    display: none;
}



