body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.counter-wrapper {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.counter-wrapper button {
  width: 40px;
  background-color: #fff;
  font-weight: 700;
  font-size: 2em;
  border: 1px solid #eee;
  border-radius: 5px;
}

.counter-wrapper button:hover {
  background-color: #f9f6f6;
  border: 1px solid #dedcdc;
}

.counter-wrapper button:first-child {
  float: left;
}

.counter-wrapper button:last-child {
  float: right;
}