<template>
  <v-container grid-list-md>
    <v-layout row wrap fill-height>
      <v-flex xs12 align-self-start>
        <v-card>
          <v-img
            src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
            alt="Vuetify.js"
            aspect-ratio="2.75"
          />
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">
                &#8220;First, solve the problem. Then, write the code.&#8221;
              </h3>
              <div>
                <em>&mdash;John Johnson</em>
              </div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-form action="/create-checkout-session" method="POST">
              <v-btn type="submit">Checkout</v-btn>
            </v-form>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12 align-self-end text-xs-center>
        <img src="/v.png" alt="Vuetify.js" class="mb-5" />
        <blockquote class="blockquote">
          &#8220;First, solve the problem. Then, write the code.&#8221;
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote>
      </v-flex>
    </v-layout>
  </v-container>
</template>
